.hero {
  padding: 8rem;
  text-align: center;
}

.hero-text h1 {
  font-size: 4.5rem; /* use rem not 45rem! */
  margin-bottom: 1rem;
}
.dot {
  color: red;
}

.hero-text p {
  font-size: 1.2em;
  color: #5464e3;
}
/* Shared button style */
.shared-button {
  margin-top: 1.2rem;
  padding: 0.75rem 1.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #5464e3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.shared-button + .shared-button {
  margin-left: 1rem;
}


/* Hover effect */
.shared-button:hover {
  background-color: #5464e3;
  transform: scale(1.05);
}


.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,100px)); 
  gap: 1rem;
  justify-content: center;
  margin-top: 5rem;
  padding: 0 2rem;
  border-radius: 12px;
}

.video-wrapper {
  box-shadow: 0 4px 12px rgba(84, 100, 227, 0.3);
  border-radius: 12px;
  overflow: hidden;
}

.small-video {
  width: 100%;
  height: 190px;                /* fixed chhoti height */
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}
.mood-selector {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}